# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cypress - pruebas automatizadas
Backend/cypress/
Backend/cypress.config.js

# Evidencias generadas por Cypress
Backend/cypress/screenshots/
Backend/cypress/videos/
Backend/cypress/downloads/

# Archivos de pruebas Cypress
Backend/**/*.cy.js
Backend/**/*.spec.js

# Reportes o resultados de pruebas
Backend/cypress/results/
Backend/cypress/reports/
Backend/mochawesome-report/
Backend/mochawesome.json